# --- DATABASE SETTINGS ---
# Postgres credentials for the 'db' container service
DB_USER=user
DB_PASS=password
DB_NAME=pixelcanvas
DB_HOST=db

# --- POSTGRES INTERNAL SETTINGS ---
# Initialization variables for the official Postgres image
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=pixelcanvas

# --- REDIS SETTINGS ---
# Required by RedisManager.cpp to establish message broker connection
REDIS_HOST=redis

# --- SECURITY ---
# Secret key for signing and verifying JWT tokens
JWT_SECRET=super_secret_load_test_key_2026_pixel_canvas_individual_task