# --- Build Outputs ---
build/
bin/
out/
.cache/

# --- IDE Specific (VS Code) ---
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

# --- Docker & OS ---
.docker/
.DS_Store
Thumbs.db

# --- Compiled Files ---
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.exe
*.out
*.app

# --- Database & Local Data ---
pg_data/
redis_data/
*.log
.env